@model IEnumerable<MvcMovie.Models.Show>

@{
    ViewData["Title"] = "Shows";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Salon.SalonNr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Movie.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().DateAndTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Salon.SalonNr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Movie.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateAndTime)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    <a asp-controller="Bookings" asp-action="Booking" asp-route-id="@item.Id">Booking</a>
                </td>
            </tr>
        }
    </tbody>
</table>