@model MvcMovie.Models.Booking

<h2>Booking Confirmation</h2>
<p>Thank you for your booking!</p>
<p><strong>Booking Number:</strong> @Model.BookingNr</p>
<p><strong>Seat:</strong> @Model.SeatNr</p>
<p><strong>Movie Title:</strong> @Model.Show.Movie.Title</p>
<p><strong>Salon:</strong> @Model.Show.Salon.SalonNr</p>
<p><strong>Salon:</strong> @Model.Show.DateAndTime</p>